---
version: '3.8'

services:
  postgres:
    image: postgres:15.3-alpine3.18
    container_name: postgres
    environment:
    - POSTGRES_DB=sandbox
    - POSTGRES_USER=admin
    - POSTGRES_PASSWORD=admin
    ports:
    - 5000:5432
    restart: unless-stopped
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
    - PGADMIN_DEFAULT_EMAIL=admin@admin.com
    - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
    - 80:80
    restart: unless-stopped
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
    - 3000:3000
    restart: unless-stopped
